* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fff;
}
body {
    background-color: #2c3e50;
}

.page-header {
    text-align: center;
    color: #2c3e50;
    padding: 20px 0;
}

    .page-header span {
        color: #e74c3c;
    }
.about-text {
    padding: 0 50px;
}

    .about-text h2 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 30px;
        color: #e74c3c;
        margin: 30px 0;
    }

    .about-text p {
        font-weight: 400;
        color: #2c3e50;
        margin-bottom: 10px;
    }

    .about-text a {
        color: #e74c3c;
        font-weight: 700;
    }

    .about-text a:hover {
            color: #2c3e50;
    }
.show-mern {
    margin-top: 80px;
    padding: 0 50px;
}

.mern {
    background-color: #2c3e50;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    color: #fff;
}

    .mern:nth-child(2) {
        background-color: #e74c3c;
    }
    .mern:nth-child(4) {
        background-color: #e74c3c;
    }

    .mern .food-text {
        padding: 20px;
    }

    .mern img {
        height: 100%;
    }

.mern h2 {
    margin-bottom: 10px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.mern-text p {
    font-weight: 300;
    font-size: 17px;
}
footer {
    background-color: #669999;
    text-align: center;
    color: #fff;
    font-weight: 300;
    padding: 15px;
    font-size: 18px;
}


